.home{ 
    margin: 0;
    padding: 8em;
}

.section{
    margin-bottom: 100px;
}

.description{
    background-color: var(--blue);
    border-radius: 5px;

    font-size: larger;

    padding: 0.25em;

    width: fit-content;
}

.container{
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.most-popular{
    position: relative;

    max-width: 250px;
    height: 30vh;

    overflow: hidden;
    border-radius: 10px;

    transition: 0.5s ease;
}

.most-popular:hover{
    transform: translate(0, -3%);
}

.most-popular img{
    display: block;

    width: auto;
    height: 100%;

    border-radius: 0;
}