.anime{
    width: 100%;

    box-sizing: border-box;
    padding: 5em;
}

.container{
    position: relative;

    width: 100%;
    height: 100%;

    gap: 3em;
}

.summary{
    width: 63%;
}

.episode{
    position: absolute;

    right: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: stretch;

    width: 35%;
    height: 100%;

    overflow: hidden;
    gap: 1em;
}

.episode-list{
    position: relative;
    overflow-y: auto;

    gap: 0.5em;
}


.description{
    color: var(--text);
}