.container{
    width: 100%;

    box-sizing: border-box;
    padding: 5em;

    display: flex;
    justify-content: center;
}

.calendar-wrapper{
    width: fit-content;


    width: 80%;
}

.calendar{
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 0;
    border-radius: 15px;
    overflow: hidden;

    border-radius: 10px;

    gap: 0.125em;

}

.cards{
    display: flex;
    flex-direction: column;

    gap: 20px;

    width: 14.285%;
}

.weekday{
    text-align: center;
    background-color: var(--bg2);
    margin: 0;

    padding: 0.5em;
}

.image-wrapper{
    position: relative;

    display: flex;
    align-self: center;

    width: 90%;


    border-radius: 5px;
    overflow: hidden;

    background-color: var(--blue);
    border-bottom: 3px solid var(--background);

    transition: 0.5s ease;
}

.image-wrapper:hover{
    transform: translate(0, -3%);
    box-shadow: 0px 15px 38px -20px var(--blue);
    border-bottom: 3px solid var(--blue);
}

.image-wrapper img{
    display: block;

    border-radius: 0;

    width: 100%;
    height: auto;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigate{
    display: flex;
    flex-direction: row;
    gap: 5px;

    height: fit-content;
}

.page-button{
    display: flex;
    align-items: center;

    border-radius: 3px;
    border: 1px solid var(--border);

    outline: none;
    font-size: larger;

    background-color: transparent;

    padding-left: 0;
    padding-right: 0;

    color: var(--text);
    background-color: transparent;

    transition: 0.5s ease;
}

.page-button:hover{
    transform: scale(1.2, 1.2);
    background-color: var(--bg1);
}

.page{
    background-color: transparent;

    border-radius: 5px;
    border: 1px solid var(--border);

    outline: none;

    color: var(--text);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    transition: 0.5s ease;
}

.page:hover{
    background-color: var(--blue);
}

.current-page{
    background-color: var(--blue);
    transform: scale(1.1,1.1);
}